node_modules
dist
coverage
.git
.gitignore
.env
.env.*
!.env.example
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
.dockerignore
.vscode
.idea
.github
test
*.log
npm-debug.log*
pnpm-debug.log*
README*
*.md
