# ────────────────────────────────────────────────────────────────────
# INTEGRATIONS API - Configuración de Entorno
# ────────────────────────────────────────────────────────────────────

# 🖥️  SERVIDOR
PORT=3145
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# 🔗 SERVICIO ADRES
ADRES_API_URL=https://aplicaciones.api.com

# 🔗 SERVICIO ASO PAGOS
ASO_PAGOS_API_URL=https://www.api-aso-pagos.com

SISBEN_URL=https://reportes.sisben-api.com


# 🚀 RECURSOS
PLAYWRIGHT_MAX_CONCURRENCY=5
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_NAV_TIMEOUT_MS=30000
